<!--
<div fxLayout="row">
    <mat-card fxFlex="30">
      <mat-card-title>Textarea</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>folder</mat-icon>
                  <h4 mat-line>Strategy 1</h4>
                  <h6 fxLayoutAlign="start center">Sept. 4, 2019</h6>
                  <p mat-line> Sept. 4, 2019 </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>Strategy 1</h4>
                    <p mat-line> Sept. 4, 2019 </p>
                  </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
  </div>

<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
<div fxFlex="50" class="hidepanel">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
<div fxFlex="50">
<mat-card class="signup">
    <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="sign-up-header"><h2>Sign Up</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div fxLayoutAlign="center">
          <button mat-raised-button color="primary">Continue with Facebook</button>  
        </div>
        <div fxLayoutAlign="center">
            <h4>OR</h4>
        </div>
        <mat-divider></mat-divider>
        <br>
  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="5px">

    <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Enter Firstname">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Enter Lastname">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter Username">
            <mat-icon matSuffix>info</mat-icon>
        </mat-form-field>
        </div>
        <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="5px">
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Password">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="50">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="Enter Password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <h5 class="policy">
                By clicking "Create Account", you agree to our Terms & Conditions and Privacy Policy.
            </h5>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions fxLayoutAlign="space-between end">
              <button mat-button color="basic"> <b>  Already have an account? </b></button>
              <button mat-raised-button color="primary">Join Now</button>
          </mat-card-actions>
</mat-card>
</div>
</div>

<div fxLayout="row">
 <mat-card fxFlex="40">
    <div fxLayout="column" fxLayoutGap="5px" fxLayout.gt-sm="row">
        <div fxFlex="60" fxLayoutAlign="center center">
            <mat-list>
                <mat-list-item>
                  <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Doggo">
                  <h3 matLine> Username </h3>
                  <p matLine>
                    <span> Newbie </span>
                  </p>
                </mat-list-item>
              </mat-list>
        </div>
        <div fxFlex="40" fxLayoutAlign="center center">
          <mat-list>
            <mat-list-item>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>Follow</mat-chip>
                  </mat-chip-list>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
 </mat-card>
</div>
-->
<!-- <div fxFlex="15"></div>
<div fxFlex="70">
 <mat-card>
   <mat-card-title>Terms</mat-card-title>
   <mat-divider></mat-divider>
   <mat-card-content>
     <br>
     <ol class="about">
        <li>&nbsp; &nbsp; &nbsp; &nbsp; Profit and Loss Trades is a dedicated site to traders, allowing you to better show your trading data and monitor results. As a trading journal, the site commits to help with tracking your performance. The site provides vivid graphs of your day to day trading activity from your given data and gives rooms for your notes, strategies and styles on how you were able to achieve your results.
        <br> Pltrades is also an open platform to showcase your outcomes, as well as how you achieved your success, thus, cultivating aspirations to fellow traders to further hone ourselves in the industry. We also emphasize the importance of conversations by putting up chats- giving way to grow a healthy community of traders with the sharing of ideas to help lessen our losses. With this, we aim to improve your strategy as you relate with other traders. However, we put utmost respect that each one has his own approach towards the business.
        </li>
        <ul>  
            <li>
              Disclaimer
            </li>
        </ul>
        <br>
        <li>&nbsp; &nbsp; &nbsp; &nbsp; Profit and Loss Trades is a dedicated site to traders, providing a better view of one’s trading data and monitor results. As a trading journal, the site commits to help with tracking your performance. <br>
          Graphs are provided from your given day to day trading activity, while giving enough room for your notes, strategies and styles on how you were able to achieve your results. Emphasis on conversations is put up through chats, aiming to improve and grow ourselves in the industry. However, we put utmost respect that each one has his own approach towards the business. Come grow with us! Be rational.</li>
      </ol> 
      
   </mat-card-content>
 </mat-card>
</div>
<div fxFlex="15"></div> -->

<!-- <div style="height: 100vh;">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.md>
        <mat-icon >menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div> -->

<div fxLayout.xs="column" fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="20">
    <mat-card class="widget_card">
        <mat-card-content>
            <p>Filter Trades</p>
            <div class="example-container">
              <mat-form-field>
                <mat-select placeholder="Select..." id="filter_trades" name="filter_trades">
                  <mat-option value="all">View All</mat-option>
                  <mat-option value="allWins">All Wins</mat-option>
                  <mat-option value="allLosses">All Loses</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20">
    <mat-card class="widget_card">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
          <h1 class="value">50000</h1>
          <mat-icon>bar_chart</mat-icon>
          <p>Wins</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20">
    <mat-card class="widget_card">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
          <h1 class="value_loss">500</h1>
          <mat-icon class="icon-sm">get_app</mat-icon>
          <p>Losses</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20">
    <mat-card class="widget_card">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
          <h1 class="value_n">500</h1>
          <mat-icon>event_note</mat-icon>
          <p>Total Trades</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20">
    <mat-card class="widget_card">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
          <h1 class="value_n">500</h1>
          <mat-icon>timeline</mat-icon>
          <p>Winning Percentage</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
