<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
  <mat-card fxFlex="20">
    <mat-card-header fxLayoutAlign="space-between start">
      <mat-card-title>Entry List</mat-card-title>
      <mat-icon>more_horiz</mat-icon>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div
        class="entry-list-btn-keys"
        fxLayoutAlign="center end"
        fxLayoutGap="35px"
      >
        <button mat-raised-button color="primary" class="entry-list-btn">
          Add Entry
        </button>
        <button mat-raised-button color="primary" class="entry-list-btn">
          Sold
        </button>
      </div>
      <table>
        <tr>
          <td>Ticker:</td>
          <td class="entry-list-value">ABCABC</td>
        </tr>
        <tr>
          <td>Volume:</td>
          <td class="entry-list-value">ABC</td>
        </tr>
        <tr>
          <td>Entry:</td>
          <td class="entry-list-value">ABC</td>
        </tr>
        <tr>
          <td>Ave. Entry:</td>
          <td class="entry-list-value">ABC</td>
        </tr>
        <tr class="total">
          <td>Total:</td>
          <td class="entry-list-value">4,000</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayoutAlign="center center" fxLayoutGap="13px">
      <button mat-raised-button color="basic" class="m-1" matTooltip="Add">
        <mat-icon class="icon-md">add</mat-icon>
      </button>
      <button mat-raised-button color="basic" class="m-1" matTooltip="Edit">
        <mat-icon class="icon-md">edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" class="m-1" matTooltip="Delete">
        <mat-icon class="icon-md">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="20">
    <mat-card-header fxLayoutAlign="space-between start">
      <mat-card-title>Number of Trades</mat-card-title>
      <mat-icon>more_horiz</mat-icon>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div
        class="number-trades"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="trade-header-wins">
          200
        </div>
        <div class="trade-content">
          Number of Wins
        </div>
      </div>
      <div
        class="number-trades"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="trade-header-losses">
          200
        </div>
        <div class="trade-content">
          Number of Losses
        </div>
      </div>
      <div
        class="number-trades"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="trade-header-total">
          400
        </div>
        <div class="trade-content">
          Number of Trades
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="20">
    <mat-card-header fxLayoutAlign="space-between start">
      <mat-card-title>
        Strategies or Rules
      </mat-card-title>
      <mat-icon>more_horiz</mat-icon>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div fxLayout="column">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>timeline</mat-icon>
              <h4 mat-line>Strategy 1</h4>
              <p mat-line> My Strategy 1</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon mat-list-icon>timeline</mat-icon>
              <h4 mat-line>Strategy 2</h4>
              <p mat-line> My Strategy 2</p>
            </mat-list-item>          
          </mat-list>
        </div>
    </mat-card-content>
  </mat-card>

  <form action="" fxFlex>
  <mat-card>
    <mat-card-header fxLayoutAlign="space-between start">
      <mat-card-title> Privacy </mat-card-title>
      <mat-icon>more_horiz</mat-icon>
    </mat-card-header>
    <mat-divider></mat-divider>
      <mat-card-content fxLayout="column">
        <mat-form-field class="privacy-options">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-select required placeholder="Account Privacy">
            <mat-option>
              Privacy 1
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="privacy-options">
            <mat-icon matSuffix>trending_up</mat-icon>
          <mat-select placeholder="Trade Performance">
            <mat-option >
              Trade Performance
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="privacy-options">
            <mat-icon matSuffix>bar_chart</mat-icon>
          <mat-select placeholder="Trade Statistics">
            <mat-option>
              Trade Statistics
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="privacy-options">
            <mat-icon matSuffix>receipt</mat-icon>
          <mat-select placeholder="Trade Details">
            <mat-option>
              Trade Details
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="privacy-options">
            <mat-icon matSuffix>email</mat-icon>
          <mat-select placeholder="Email">
            <mat-option>
             Email
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
  
  <mat-divider></mat-divider>
  <mat-card-actions fxLayoutAlign="end center">
    <button mat-raised-button color="primary">
      Update
    </button>
  </mat-card-actions>

  </mat-card>
</form>
</div>
